@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

$padding: 20px;

* {
  box-sizing: border-box;
}

html, body, #root, .full-height {
  height: 100%
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}


@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.3);
}

.inkwell {
  height: 100%;
  position: relative;
  background: transparent;
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  @include flex();

  .ripple {
    background-color: rgba(0, 0, 0, 0.2);
  }
}


.full-width {
  width: 100%;
}

.flex {
  @include flex();
}

.grown {
  flex-grow: 1;
}